.square {
    height: 150px;
    width: 150px;
    background-color: blue;
    position: relative;
}

#square-to-skew {
    background-color: purple;
    transition: transform, 5s;
}

#square-to-skew:hover {
    transform: skewX(-20deg);
}

#square-to-scale {
    background: black;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 75px;
    height: 75px;
    transition: transform 5s, background-color 5s 2s;
}

#square-to-scale:hover {
    background-color: blue;
    transform: scale(2,2);
}
