.square {
    height: 150px;
    width: 150px;
    background-color: blue;
    position: relative;
}

#square-to-skew {
    background-color: purple;
    transition: transform, 5s;
}

#square-to-skew:hover {
    transform: skewX(-20deg);
}

#square-to-scale {
    background: black;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 75px;
    height: 75px;
    transition: transform 5s, background-color 5s 2s;
}

#square-to-scale:hover {
    background-color: blue;
    transform: scale(2,2);
}

#square-to-rotate {
    background-color: tomato;
    transition: transform 5s;
}

#square-to-rotate:hover {
    transform: rotate(360deg);
}

#square-to-translate {
    background-color: orange;
    transition: transform 5s ease-out, background-color 3s 2s;
}

#square-to-translate:hover {
    background-color: green;
    transform: translateX(900px) rotate(360deg);
}
